# Dependencies
node_modules/
**/node_modules/

# Production build outputs
dist/
build/
**/dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
