PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/pathfinder
JWT_SECRET=super_secret_jwt_sign_key_for_pathfinder_2026
JWT_EXPIRES_IN=7d
ADMIN_SECRET_KEY=pathfinder_admin_master_creation_secret_key_99
FILE_STORAGE_MODE=LOCAL
CLIENT_URL=http://localhost:5173
